.footer{
    
    &-content{
        background-color: black;
        color: white;
        height: 60px;
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &-link{
        color: white;
    }

}